#tahoe-picture{
    height:500px;
    width:100%;
    margin-left:0px;
    margin-right:0px;
    margin-top: 0px;
}

.container{
    width:100%;
}

#fig-1, #fig-2, #fig-3{
    height:200px;
    width:100%;
}